/* Root variables for easy theming */
:root {
    --bg-color: #121212;
    --text-primary: #E0E0E0;
    --text-secondary: #c7c5c5;
    --accent-color: #BB86FC;
    --border-color: #2C2C2C;
    --accent-hover: #dac4f5; /* ~10-15% lighter */
    --glass-bg: rgba(255, 255, 255, 0.05);
    --black-glass-bg: rgba(18, 18, 18, 0.788);
    --glass-blur: blur(10px); /* for 'backdrop-filter' and '-webkit-backdrop-filter (Safari)' */
    --glass-border: rgba(255, 255, 255, 0.1);
    --font-heading: 'Orbitron', sans-serif;
    --font-body: 'Roboto Mono', monospace;
}

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: var(--font-body);
    line-height: 1.6;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--text-primary);
}

/* Links */
a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--accent-hover);
}

/* glass */
.glass {
    background-color: var(--glass-bg);
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: var(--glass-blur);
    border: 1px solid var(--glass-border);
}

/* black glass */
.black-glass {
    background-color: var(--black-glass-bg);
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: var(--glass-blur);
    border: 1px solid var(--glass-border);
}

.main-section {
    padding: 2rem 10rem;
}

/* Section Padding */
#about, #projects, #skills, #contact {
    padding: 2rem 0;
}

/* ----- Responsive Breakpoints ------ */
@media (max-width: 575px) {
    .main-section {
        padding: 2rem 2rem;
    }

    .modal {
        margin: 2rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .main-section {
        padding: 2rem 4rem;
    }

    .modal {
        margin: 4rem;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .main-section {
        padding: 2rem 6rem;
    }
}